
.header {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    position: relative;
}
/* Div 1 */
.Div1 {
    width: 740px;
    height: 920px;
    background-color:#D8E6F1 ;
}

.Div1 #Link{
    margin: 45px 120px ;
}

.Div1 h1{
    width: 585px;
    height: 164px;
    font-weight: 700;
    font-size: 60px;
    margin: 90px 0 40px 120px;
    color: #424C54;
}

.Div1 p{
    font-weight: 400;
    font-size: 28px;
    width: 308px;
    text-align: end;
    margin-left: 100px;
    color: #ACB7C1;
}

/* Div 2  */
.Div2 {
    width: 740px;
    height: 920px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
}

.Div2childDiv1 {
    position: absolute;
    right: 120px;
    margin: 45px -120px;
    display: flex;
    justify-content:flex-end;
    text-align:end;
}

.Link2{
    margin: 5px 0 ;
}

.Div2 p{
    text-align:end;
    font-size: 13px;
}

.Link3{
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}

/* Div 2 child2 */

.Div2childDiv2 {
    margin-top: 120px;
    width: 100%;
    height: 460px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 1;
}



.Div2childDiv2Child{
    width: 310px;
    height: 344px;
    padding: 15px;
}

.Div2childDiv2Child h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #BF071A;
    line-height: 24px;
}

#spanh2 {
    color:#808D98;
}

.p1 {
    width: 100%;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    margin-top: 56px;
}

.p1 span {
    font-size: 20px;
    font-weight: 700;
    color: #808D98;
}

.p1 :nth-child(2) {
    color: #BF071A;
}

.range {
    display: block;
    -webkit-appearance: none;
    margin: 15px 0 ;
    width: 100%;
    height: 10px;
    border-radius: 10px;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: radial-gradient(circle,white 40%,#BF071A 20% );
    cursor: pointer;
}

.p2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.p2 :nth-child(1) {
    font-size:14px ;
    font-weight: 400;
}

.p2 :nth-child(2) {
    font-size:14px ;
    font-weight:400 ;
}

.button {
    margin: 31px 0 ;
    width: 278px;
    height: 56px;
    border-radius: 30px;
    background: #BF071A;
    font-size: 17px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

#p3 {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

.imgdiv3 {
    position: absolute;
    bottom: 0px;
    left: 20%;
}


/* section1 */

.mainSection1 {
    width: 1440px;
    margin: 0 auto;
    background: #F7F8F8;;
}
.Sec1-h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Sec1-h2 :nth-child(1) {
    margin-top: 62px;
    color:#000000;
    font-size: 40px; 
    font-weight: 400;
}

.Sec1-h2 :nth-child(2) {
    color:#BF071A;
    font-size: 40px; 
    font-weight: 700;
}

.Section1child1 {
    width: 980px;
    margin: 103px auto  0;
    display: flex;
    justify-content: space-between;
}

.childParagraf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Section1child1:nth-child(1):nth-child(2) {
    width: 200px;
}

#images {
    width: 130px;
    height: 130px;
    margin: 42px 0;
}

#paragraff {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#id1{
    font-size: 25px;
    font-weight: 700;
    color: rgba(128, 141, 152, 1);
}

#id20 {
    width: 200px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 70px;
    text-align: center;
    color: rgba(172, 183, 193, 1);
}

#id21 {
    width: 285px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 70px;
    text-align: center;
    color: rgba(172, 183, 193, 1);
}

#id22 {
    width: 285px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 70px;
    text-align: center;
    color: rgba(172, 183, 193, 1);
}


/* section 2 */

.section2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1440px;
    height: 455px;
    background: #D8E6F1;
}

.twoSlider {
    width:380px ;
    height: 464px;
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    position: absolute;
    bottom: -74px;
    left: 120px;
    border-radius: 20px;
}

#p1 {
    width: 100%;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    margin-top: 56px;
}

.twoSliderChild {
    width: 310px;
    height: 344px;
    padding: 30px;
    z-index: 1;
}

.twoSliderChild h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #BF071A;
}

.chequeDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 340px;
    height: 100px;
}

.chequeDiv :nth-child(1) {
    display: flex;
    margin-bottom: 40px;
}

.chequeDiv :nth-child(2) {
    display: flex;
    width: 380px;
}

.chequeDiv :nth-child(1) span {
    display: inline-block;
    font-size: 20px;
    width: 160px;
    line-height: 20px;
    margin-left: 40px;
    color: rgba(128, 141, 152, 1);
}

.chequeDiv :nth-child(2) span {
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    margin-left: 40px;
    color: rgba(128, 141, 152, 1);
}

.goldDiv {
    position: absolute;
    right: 0;
    top: 102px;
    z-index: 1;
}

.footer {
    margin:0 auto;
    width: 1440px;
    height: 622px;
    background-color:#808D98;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;
}

.footerdiv {
    width: 1194px;
}

.footerdiv :nth-child(1) {
    font-weight: 600;
    font-size: 30px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 50px;
}

.footerdiv :nth-child(2) {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: start;
}

b {
    color: white;
    font-size: 21px;
}

.footertext {
    position: absolute;
    bottom: -50px;
    width: 1194px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(128, 141, 152, 1);
}














@media screen and (max-width:1024px) {  
    /* header */
    .header {
        width: 720px;
        overflow: hidden;
    }
    .Div1 h1{
        margin: 15px 0 40px 120px;
    }
    .Div1 p {
        width: 500px;
        text-align: center;
    }
    .Div2 {
        display: none;
    }
    .Div2childDiv1 {
        position: absolute;
        right: 240px;
        width: 200px;
    }
    .imgdiv3 {
        left: 2%;
    }


    /* section 1 */
    .mainSection1 {
        width: 720px;
    }

    .Section1child1 {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column; 

        padding: 20px;
    } 

    .childParagraf {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    #paragraff {
        width: 400px;
        display: flex;
        flex-direction: column;
    }

    .Section1child1 :nth-child(2){
        display: flex;
        flex-direction: row-reverse;
        align-items:center;
    }


 /* section 2 */

    .section2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 720px;
        height: 1600px;
        position: relative;
    }

    .twoSlider {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 600px;
        height: 800px;
        position: initial;
        margin-top: 150px;
    }

    .twoSliderChild {
        width: 100%;
        height: 1000px;
        padding: 30px;
        display: flex;
        flex-direction: column;
    }

    .twoSliderChild h2 {
        margin-top: 100px;
        font-size: 40px;
    }

    #p1 {
        font-size: 40px;
        margin-bottom: 50px;
    }

    .range {
        height: 30px;
        margin-bottom: 50px;
    }

    .range::-webkit-slider-thumb {
        width: 56px;
        height: 56px;
    }

    .p2 :nth-child(1) {
        font-size:40px ;
        font-weight: 400;
    }
    
    .p2 :nth-child(2) {
        font-size:40px ;
        font-weight:400 ;
    }
    
    .buttonp {
        width: 100%;
        text-align: center;
    }
    .button {
        width: 500px;
        height: 100px;
        font-size: 35px;
        border-radius: 100px;
        margin: 50px 0 ;
    }

    #p3 {
        font-size: 25px;
    }

    .chequeDiv {
        width: 80%;
        margin-top: 200px;
    }

    .chequeDiv :nth-child(2) {
        display: flex;
        width: 100%;
    }

    .chequeDiv :nth-child(1) span {
        display: inline-block;
        font-size: 40px;
        width: 100%;
        line-height: 40px;
        margin-left: 40px;
        color: rgba(128, 141, 152, 1);
    }
    
    .chequeDiv :nth-child(2) span {
        display: inline-block;
        width: 100%;
        font-size: 40px;
        line-height: 40px;
    }

    .imgpassport {
        width: 150px;
        height: 150px;
    }

    #golden {
        display: none;
    }

    .goldDiv {
        /* display: none; */
        position: absolute;
        top: 1250px;
        background-image: url("./images/gold.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 700px;
        height: 600px;
    }

    .footer {
        width: 720px;
        height: 1800px;
        padding: 50px;
    }

    .footerdiv h2 {
        width: 100%;
        text-align: center;
    }

    #footerp {
        font-size: 30px;
        line-height: 35px;
        font-weight: 300;
    }
    
    b {
        color: white;
        font-size: 40px;
    }

    .footertext {
        position: absolute;
        bottom: -550px;
        width: 720px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: rgba(128, 141, 152, 1);
    }

    .footertext :nth-child(1) {
        width: 80%;
        text-align: center;
        font-size: 30px;
        margin-bottom: 50px;
    }

    .footertext :nth-child(2) {
        width: 60%;
        text-align: center;
        font-size: 40px;
    }
}





